<h1>注册</h1>
<form #loginForm="ngForm" (ngSubmit)="signUp(loginForm.value)" class="weui-cells_form" novalidate>
  <div class="weui-cells">
    <div class="weui-cell"
         [class.weui-cell_warn]="usernameInput.touched && !usernameInput.valid">
      <div class="weui-cell__hd">
        <label class="weui-label">学号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number"
               placeholder="输入学号"
               #usernameInput="ngModel"
               [(ngModel)]="username" name="username" required>
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
  </div>
  <div class="submit">
    <button class="weui-btn weui-btn_primary"
            [disabled]="!loginForm.valid">
      下一步
    </button>
  </div>
</form>
<a class="switch" [routerLink]="['../login', {username: username}]">登录</a>
