<div class="container">
  <div class="header">
    <p class="name">{{ name }}</p>
    <p class="id">{{ id }}</p>
  </div>
  <div class="statistics">
    <div class="row">
      <div class="info">
        <p class="description">均分</p>
        <p class="value">{{ mean }}</p>
      </div>
      <div class="info">
        <p class="description">排名</p>
        <p class="value">{{ rank }}</p>
      </div>
    </div>
  </div>
  <div class="weui-footer footer">
    <div class="weui-footer__links">
      <a (click)="logout()" class="weui-footer__link">退出登录</a>
      <a class="weui-footer__link" href="mailto:grade-feedback@1122.moe">错误反馈</a>
    </div>
    <p class="weui-footer__text">
      数据错误，使用异常请截图后进行反馈
    </p>
  </div>
</div>
